body {
  padding: 20px;
  font-size: 16px;
  max-width: 768px;
  margin: auto;
}

#download-all {
  display: none;
}

/* Smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
}